.ItemDetailClass {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    background: #e7e5e5d1;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.ItemDetailPrice{
    font-weight: 600;
}

.ItemDetailClass img{
    border-radius: 6px;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
}

.ItemDetailFooter a{
    margin: 100px 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: azure;
    padding: 10px;
    border: none; 
    color: rgb(57, 52, 44); 
    padding: 7px 47px; 
    cursor: pointer; 
    border-radius: 5px;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
}

.ItemDetailButton{
    align-items: center;
    margin-top: 15px;
    padding: 7px 35px; 
    background-color: rgb(35, 55, 56);
    color: aliceblue;
}


.seguirComprando a{
    margin-top: 10px;
    display: block;
}

.Items{
    margin: 15px;
}