.bigfont {
    font-size: 100px;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color: #d8e2dc;
}

.active {
    color: #5f3c3d
}

.ImgCart {
    width: 35px;
    height: 35px;
}