.divs{
    margin-bottom: 10px;
}

.images {
    border-radius: 7px;
}



.BotonDetalle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: azure;
    padding: 5px;
    margin-bottom: 5px;
    border: none; 
    color: rgb(57, 52, 44); 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;
    
}