.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color:#d8e2dc;
}

.active {
    padding: 0.3rem 0.3rem;
    background-color: rgb(85, 83, 87);
    border: 1px solid rgb(85, 83, 87);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


.choices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #2a2e2c;
    
}