.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color:#d8e2dc;
}

.active {
    color: #5f3c3d;
}

.NavLink {
    box-sizing: border-box;
    color: black;
    cursor: default;
    display: block;
    background-color: beige;
}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #2a2e2c;
    
}